<!doctype html>
<html lang="ja">
  <head>    
    <meta charset="utf-8">
    <title>password_reset_done</title>
    <style>
      .pad{
        background-color: lavender;
        border: solid 2px;
        padding-top: 30px;
        padding-bottom: 50px;
        padding-left: 100px;
        margin-top: 50px;
        margin-right: 70px;
        margin-left: 70px;
      }
    </style>
  </head>

  <body>
    <div class="pad">
      <h2>パスワードがリセットされました。</h2>
      <p>
        Your Password has been set. You may go ahead and login.
      </p>
      <br>
      <!-- トップページへのリンク-->
      <a href="{% url 'picture:index' %}">
        Picture Galleryのトップページへ</a>
    </div>
  </body>
</html>